.center-position {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }

        .floating-frame{
            background-color: rgb(0, 0, 0, .2);
            border-radius: 10px;
            box-shadow: black 0px 0px 20px ;
        }

        .form-control {
            background-color: #e3f0ff;
            border: black;
        }